
body {
    background-color: #3A393B;
    margin: 0;
}
img {
    margin: 0;
}
.page {
    text-align: center;
}

.topbar {
    width: 100vw;
    height: 9vh;
    vertical-align: top;
}
.Title {
    font-size: 5em;
    margin: .25em;
    color: white;
    font-weight: bold;
}
.SubTitle {
    font-size: 3.5em; 
    margin: .25em;
    color: white;
    font-weight: bold;
}
.SubSubTitle {
    font-size: 2.75em;
    margin: .25em;
    color: white;
    font-weight: 500;
}
.SmallFont {
    display: block;
    font-size: 2em;
    margin: .1em;
    color: white;
}
.SmallSmallFont {
    display: block;
    font-size: 1.5em;
    margin: .1em;
    color: white;
}
.SubSubSubTitle {
    display: block;
    font-size: 2em;
    margin: .1em;
    color: white;
}
.SmallFontLink {
    display: block;
    font-size: 2em;
    margin: .1em;
    color: white;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}
.ItalicSmallFont {
    display: block;
    font-size: 1.5em;
    margin: .1em;
    color: white;
    font-style: italic;
}
.JobBox {
    background-color: #2b2b2b;
    vertical-align: top;
    display: inline-block;
    border: 2px solid white;
    width: 40em;
    padding: 1em;
    margin-bottom: 5em;
}
.PhotoGallery {
    width: 80vw;
    background-color: transparent;
    vertical-align: top;
    margin: auto;
}
.FoodPhoto {
    height: 31em;
    background-color: #2b2b2b;
    border: 2px solid white;
}
.Butten {
    vertical-align: middle;
    display: inline-block;
    background-color: white;
    color: black;
    font-size: 1.5em;
    padding: .5em;
    text-decoration: none;
    border-radius: .5vh;
    font-weight: bold;
}

    .Butten:hover {
        background-color: lightgrey;
        color: black;
    }

    .Butten:active {
        background-color: grey;
        color: black;
    }
.jobinfo {
    height: 15em;
}
.positions {
    height: 8em;
}
.Description {
    height: 30em;
}
.start {
    height: 14em;
}
.startDE {
    height: 19em;
}
.leave {
    height: 10em;
}