/** This file contains css code for index.html and indexDE.html*/
/** Last edited 7/10/2025*/
/** Auther Owen M Perry*/
body {
    margin: 0;
    padding: 0;
    background-color: #3A393B;
}
div {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.page {
    width: 100vw;
    box-sizing: border-box;
    background-color: #3A393B;
    height: unset;
} 
.title {
    height: 10vh;
    vertical-align: bottom;
}
.titletext1 {
    display: block;
    color: black;
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 20px;
}
.titletext2 {
    display: block;
    color: black;
    font-size: 2.5vw;
    font-weight: bold;
    margin-bottom: 20px;
}
.titletext1White {
    display: block;
    color: white;
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 20px;
}
.titletext2White {
    display: block;
    color: white;
    font-size:  2.5vw;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.spacer10 {
    height: 10vh;
}/**spacer that takes 10% of a page height*/

/** contains infobox bellow*/
.infobox { /** contains photo contact,infomation, and name*/
    margin: 0;
    display: inline-block;
    width: 30vw;
    align-content: baseline;
    text-align: center;
}
.photobox {
    display: block;
    height: 40vh;
    vertical-align: top;
    margin-top: 2vh;
}
.photo {
    height: 100%;
    border-radius: 100%;
    margin-top: 10%;
    vertical-align: central;
    border: white;
    border-width: 25px;
}
.name {
    vertical-align: central;
    display: block;
    color: white;
    font-size: 4vw;
    font-weight: bold;
    margin-top: 10vh;
    height: 10vh;
    white-space: nowrap;
    overflow: hidden;
}
.Contactinfo { /** contains box with phone number,email, and adress*/
    vertical-align: bottom;
    height: 40vh;
    margin: 0;
}
.email {
    display: block;
    color: white;
    font-size: 1vw;
    margin-top: .5vh;
    margin-bottom: 2vh;
    cursor: pointer;
    text-decoration: none;
}
.phone {
    display: block;
    color: white;
    font-size: 1vw;
    margin-bottom: 2vh;
    cursor: pointer;
    text-decoration: none;
}
.address {
    display: block;
    color: white;
    font-size: 1vw;
    margin-bottom: 3rem;
    cursor: pointer;
    text-decoration:none;
}
/** contains infobox above*/

/** contains about me bellow*/
.AboutME {
    display: inline-block;
    width: 50vw;
    box-sizing: border-box;
    vertical-align: top;
    background-color: white;
    text-align: center;
}
.divider /**Spacer on top of 30% sceen takes */ {
    display: block;
    width: 100%;
    height: 30vh;
}
.Biobox{
    height: 35vh;
}
.Biotext {
    margin: 0;
    font-size: 1vw;
    margin-bottom: 1vh;
}
.ResumeLinks {
    height: 10vh;
    margin: 0;
}/**holds resume link buttens*/
.ResumesButtensSpacers {
    margin: 0;
    width: 40%;
    height: 10vh;
    display: inline-block;
    vertical-align: bottom;
}
.ResumesButtens {
    font-size: 2vw;
    width: 80%;
    height: 80%;
    border-radius: 1vw;
    color: white;
    cursor: pointer;
    background-color: #3A393B;
    border: none;
}
    .ResumesButtens:hover {
        font-size: 2.2vw;
        width: 82%;
        height: 82%;
        cursor: pointer;
}
        .ResumesButtens:hover:active {
            background-color: black;
        }
/** contains about me above*/ 

/** contains portfoliolinks bellow*/
.PortfolioLinks {
    display: inline-block;
    width: 18vw;
    box-sizing: border-box;
    vertical-align: top;
    background-color: #3A393B;
    text-align: center;
}
.PortfolioButtensboxes {
    height: 10vh;
    width: 18vw;
    margin: 0;
    
    text-decoration: none;
    align-content: center;
    
}
.PortfolioButtens {
    font-size: 2vw;
    width: 80%;
    border-radius: .5vw;
    text-align: center;
    color: black;
    cursor: pointer;
    background-color: white;
    padding: .5vh;
    padding-left:0;
    padding-right:0;
    margin: auto;
}
    .PortfolioButtens:hover {
        font-size: 2.2vw;
        width: 82%;
        margin-top: .5vh;
        cursor: pointer;
    }
        .PortfolioButtens:hover:active {
            background-color: lightgray;
        }
/** contains portfoliolinks above*/