/** This file contains css code for index.html*/
/** Last edited 4/10/2025*/
/** Auther Owen M Perry*/

body {
    margin: 0;
    padding: 0;
}
.page {
    width: 100vw;
    box-sizing: border-box;
    background-color: #3A393B;
} 
page {
    display: block;
    margin: 0;
    padding: 0;
}
div {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
.title {
    height: 10vh;
    vertical-align: bottom;
}
.titletext1 {
    display: block;
    color: black;
    font-size: 60pt;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.titletext2 {
    display: block;
    color: black;
    font-size: 40pt;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.titletext1White {
    display: block;
    color: white;
    font-size: 60pt;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.titletext2White {
    display: block;
    color: white;
    font-size: 40pt;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.spacer10 {
    height: 10vh;
}

/** contains infobox bellow*/
.infobox { /** contains photo contact,infomation, and name*/
    margin: 0;
    display: inline-block;
    width: 30vw;
    vertical-align: bottom;
}

.photobox {
    display: block;
    text-align: center;
    height: 40vh;
}
.photo {
    width: 80%;
    border-radius: 100%;
    margin-bottom: 10%;
    vertical-align: central;
    border: white;
    border-width: 25px;
}

.name {
    display: block;
    color: white;
    font-size: 60pt;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    height: 10vh;
}

.Contactinfo { /** contains box with phone number,email, and adress*/
    vertical-align: bottom;
    height: 40vh;
    margin: 0;
}

.email {
    display: block;
    color: white;
    font-size: 20pt;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}
.phone {
    display: block;
    color: white;
    font-size: 20pt;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}
.address {
    display: block;
    color: white;
    font-size: 20pt;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}
/** contains infobox above*/
/** contains about me bellow*/
.AboutME {
    display: inline-block;
    width: 50vw;
    box-sizing: border-box;
    vertical-align: top;
    background-color: white;
}
.divider{
    display: block;
    width: 100%;
    height: 30vh;
}
.Biobox{
    height: 35vh;
}
.Biotext {
    text-align: center;
    margin: 0;
    font-size: 20pt;
    margin-bottom: 15px;
}
.ResumeLinks {
    height: 10vh;
    margin: 0;
}
.resumesSpacers {
    width: 10%;
    display: inline-block;
    height: 10vh;
    margin: 0;
}
.ResumesButtensSpacers {
    margin: 0;
    width: 40%;
    height: 10vh;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;

}
.ResumesButtens {
    font-size: 40pt;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    background-color: #3A393B;
    border: 3px;
}
    .ResumesButtens:hover {
        font-size: 40pt;
        width: 82%;
        height: 82%;
        cursor: pointer;
}
        .ResumesButtens:hover:active {
            background-color: black;
        }

/** contains about me above*/ 
/** contains portfoliolinks bellow*/
.PortfolioLinks {
    display: inline-block;
    width: 18.5vw;
    box-sizing: border-box;
    vertical-align: top;
    background-color: #3A393B;
    text-align: center;
}
.PortfolioButtensboxes {
    height: 10vh;
    margin: 0;
    text-align:center;
}

.ResumesButtensWhite {
    text-align: center;
    font-size: 40pt;
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    color: #3A393B;
    cursor: pointer;
    border: 3px;
    text-decoration:none;
}

    .ResumesButtensWhite:hover {
        padding: 11px;
        cursor: pointer;
    }

        .ResumesButtensWhite:hover:active {
            background-color: lightgray;
        }
/** contains portfoliolinks above*/
