a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow: hidden;
}
img {
    margin: 0;
    padding: 0;
    overflow: hidden;
}



.topbarbox {
    display: block;
    width: 100%;
    position: fixed;
    background-color: black;
    text-align: center;
}

.HomeIcon {
    display: inline-block;
    height: 4em;
    margin-left: 1em;
    margin-right: 1em;
    vertical-align: top;
    margin-top: .5vh;
    position: fixed;
    left: 0;
}
.iconbox {
    display: inline-block;
    position: fixed;
    left: 0;
    width: 10em;
}



.PortfolioButtens {
    vertical-align: middle;
    display: inline-block;
    background-color: white;
    color: black;
    font-size: 1.5em;
    padding: .5em;
    text-decoration: none;
    border-radius: .5vh;
    width: 7em;
    font-weight: bold;
}

    .PortfolioButtens:hover {
        background-color: lightgrey;
        color: black;
    }

    .PortfolioButtens:active {
        background-color: grey;
        color: black;
    }